.advantages-section {
    background-color: $light-grayish-blue;
    padding-top: 70px;
    padding-bottom: 50px;
}

.articles-section {
    background-color: $very-light-gray;
    padding-top: 70px;
    padding-bottom: 90px;
}
