.advantages-card {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.advantages-img {
    height: 72px;
    width: 72px;
    margin-bottom: 30px;
}

.img-article {
    overflow: hidden;
    height: 200px;

    img {
        width: 100%;
    }
}

.articles-section {
    padding-top: 30px;
    padding-bottom: 90px;
}

.article-card {
    overflow: hidden;
    background-color: $white;
    border-radius: 5px;
    margin-top: 30px;
}

.article-text-section {
    margin: 30px 20px;
}

.article-editor {
    margin-bottom: 10px;
    font-size: 1rem;
    color: $grayish-blue;
}

.article-text {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    color: $grayish-blue;
}
