footer {
    background-color: $dark-blue;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-list-social {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
    margin-bottom: 35px;
}

.social-logo {
    font-size: 3rem;
    color: $white;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: $lime-green-light;
    }
}

.footer-list-link {
    text-align: center;
}

.footer-list-link {
    list-style: none;
    padding-left: 0;
}

.list-margin-top {
    margin-top: 5px;
}

.link-margin-top {
    margin-top: 15px;
}

.footer-request {
    text-align: center;
    margin-top: 35px;
}
.footer-copyright {
    font-size: 1rem;
    font-weight: 300;
    color: $grayish-blue;
    margin-top: 15px;
}

.footer-cta {
    @include cta-request;
}
