header {
    padding-bottom: 100px;
    background-color: $very-light-gray;
}

.header-hero {
    width: 100vw;
    height: 425px;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.header-img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-img {
    width: 90vw;
    position: absolute;
    top: -50px;
}

.header-text {
    @include text;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-cta {
    @include cta-request;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
