// Nav links

.nav-link {
    &:link {
        font-size: 2.2em;
        color: $dark-blue;
        font-weight: 300;
    }

    &:visited {
        font-size: 2.2em;
        color: $dark-blue;
        font-weight: 300;
    }

    &:hover {
        font-size: 2.2em;
        color: $dark-blue;
        font-weight: 300;
        text-decoration: none;
    }

    &:active {
        font-size: 2.2em;
        color: $dark-blue;
        font-weight: 300;
    }
}

// Footer links

.footer-link {
    &:link {
        font-size: 1.8rem;
        color: $very-light-gray;
        font-weight: 300;
    }

    &:visited {
        font-size: 1.8rem;
        color: $very-light-gray;
        font-weight: 300;
    }

    &:hover {
        font-size: 1.8rem;
        color: $very-light-gray;
        font-weight: 300;
        text-decoration: none;
    }

    &:active {
        font-size: 1.8rem;
        color: $very-light-gray;
        font-weight: 300;
    }
}
